
button{
    width:100px;
    height:40px;
    background-color: blue;
    color:white;
    border : 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

button:hover, #btArea2>button:hover,#btArea3>button:hover{
    background-color: brown;
    color:white;
    cursor: pointer;
}

h2{
    font-size: medium;
    color: gray;
}

header>div> a{
    text-decoration: none;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    color: rgb(34, 31, 67);
    background-color: white;
    border-radius: 5px;
    width:100px;
}

.btGroup{
    background-color: rgb(137, 209, 182);
}

#btArea2>button{
    background-color: rgb(137, 94, 30);
    width: 150px;
}

#btArea3>button{
    background-color: green;
}